<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-8">
      <div class="data">
        <p align="center">Фильтр</p>

        <ng-container [formGroup]="_filterForm">

          <mat-form-field class="form">
            <mat-label> ID Клиента </mat-label>
            <input matInput formControlName="clientId">
            <app-control-errors name="clientId"></app-control-errors>
          </mat-form-field>

          <mat-form-field class="form">
            <mat-label>Выбирите тип</mat-label>
            <mat-select formControlName="type" [(ngModel)]="typeSelect">
              <mat-option *ngFor="let type of typeList" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
            <app-control-errors name="type"></app-control-errors>
          </mat-form-field>

          <div align="center" class="form">
            <mat-form-field class="form1">
              <input matInput [matDatepicker]="picker" formControlName="checkInTime">
              <mat-label>Дата въезда </mat-label>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <app-control-errors name="checkInTime">
              </app-control-errors>
            </mat-form-field>

            <mat-form-field class="form1">
              <input matInput [matDatepicker]="picker1" formControlName="checkOutTime">
              <mat-label>Дата выезда </mat-label>
              <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
              <mat-datepicker #picker1 ></mat-datepicker>
              <app-control-errors name="checkOutTime">
              </app-control-errors>
            </mat-form-field>
          </div>

        </ng-container>

        <div align="center" class="buttons">
          <button mat-raised-button (click)="handleRefreshClick()" [disabled]="_filterForm.invalid">
            Обновить
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
