:host {

  .buttons {
    margin-bottom: 10px;
  }

  .mat-raised-button {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .data {
    width: 100%;
    margin: auto;
  }

  .form {
    width: 100%;
  }
}
