  
<ng-container>
  <filter-transaction (changeFilter)="changeFilter($event)"></filter-transaction>
</ng-container>

<ng-container *ngIf="isLoaded == true">
  <info-transaction [transactions]="transactions"></info-transaction>
</ng-container>

<ng-container *ngIf="isLoaded != true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div align="center">
          <span> Идёт загрузка данных.Пожалуйста подождите... </span>
          <br />
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
</ng-container>



