<!--The content below is only a placeholder and can be replaced.-->
<ngx-loading-bar></ngx-loading-bar>
<mat-toolbar color="primary">
  <span>HEAD</span>
  <button mat-button routerLink="">Home</button>
  <button mat-button routerLink="transactions/info">Transactions</button>
  <button mat-button routerLink="roommanager/rooms">RoomManager</button>
  <button mat-button routerLink="customers/">Customers</button>
  <button mat-button routerLink="customers/register">RegisterС</button>
  <button mat-button routerLink="staff/">Staff</button>
  <button mat-button routerLink="staff/register">RegisterS</button>

</mat-toolbar>

<div class="mat-app-background basic-container">
  <router-outlet></router-outlet>
</div>


