 <div class='bold-line'></div>
<div class='containerx'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
	<form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
      <div class='input-fields'>       
            <div><input type="email" placeholder='Email' class='input-line full-width' id="email" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" required></div>
            <div><input id="password"  placeholder='Password' class='input-line full-width' type="password" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required ></div>
      </div>
       <div><input type="submit" class='ghost-round full-width' [disabled]="form.invalid" value="Войти"></div>
	   </form>
    </div>
  </div>
</div>
