
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Быстрый фильтр">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Number Column -->
    <ng-container matColumnDef="TheNoumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> № </th>
      <td mat-cell *matCellDef="let row">{{row.TheNoumber}}</td>
    </ng-container>

    <!-- Names  Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Номер </th>
      <td mat-cell *matCellDef="let row"> {{row.name}}</td>
    </ng-container>

    <!-- Floor  Column -->
    <ng-container matColumnDef="floor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Этаж </th>
      <td mat-cell *matCellDef="let row"> {{row.floor}}</td>
    </ng-container>

    <!-- Type  Column -->
    <ng-container matColumnDef="roomTypeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип </th>
      <td mat-cell *matCellDef="let row"> {{row.roomTypeId}}</td>
    </ng-container>

    <!-- Seats  Column -->
    <ng-container matColumnDef="numberOfSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Кол-во мест </th>
      <td mat-cell *matCellDef="let row"> {{row.numberOfSeats}}</td>
    </ng-container>

    <!-- MiniBar  Column -->
    <ng-container matColumnDef="hasMiniBar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Мини-Бар </th>
      <td mat-cell *matCellDef="let row"> {{row.hasMiniBar}}</td>
    </ng-container>

    <!-- Cost  Column -->
    <ng-container matColumnDef="Cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Цена </th>
      <td mat-cell *matCellDef="let row"> {{row.Cost * this.numberDay }}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selectRoom(row)"
        class="element-row"
        [class.selected]="row === selectedElement"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

