<div class='bold-line'></div>
<div class='containerx'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content' >
       <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
         <div class='input-fields'>
            <input placeholder='Имя' class='input-line full-width' formControlName="UserName">
              <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Обязательное поле.</label>
              <input placeholder='Фамилия' class='input-line full-width' formControlName="FullName">
              <input placeholder='Email' class='input-line full-width' formControlName="Email">   
              <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Некоректный email.</label> 

              <input placeholder='Номер Телефона' class='input-line full-width' formControlName="Phone">   
              <label class="text-danger" *ngIf="service.formModel.get('Phone').touched && service.formModel.get('Phone').errors?.required">Обязательное поле.</label> 
  
              
            <div formGroupName="Passwords">
                <input type="password" placeholder='Пароль' class='input-line full-width' formControlName="Password">
                <label class="text-danger" *ngIf="
                service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>
                <input type="password" placeholder='Пароль' class='input-line full-width' formControlName="ConfirmPassword">
                <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Обязательное поле.</label>
                <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Пароли не совпадают</label>
            </div>
           </div>
       <div><button type="submit" class='ghost-round full-width' [disabled]="!service.formModel.valid">Зарегистрироваться</button></div>   
      </form>
      </div>
    
  </div>
</div>
