
@{
	ViewData["Title"] = "Register";
}

<!doctype html>
<html>
<head>
	<title>Hello ASP.NET</title>
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta charset="utf-8" />
</head>
<body>
	<main style="height:100vh;">
		<div class="container-fluid h-100">
			<div class="row h-100 justify-content-center align-items-center">
				<div class="col-6 border border-dark">
					<div class="news d-flex flex-column">
						<h3>@ViewData["name"] Вы успешно зарегистрированы!</h3>
					</div>
				</div>
			</div>
		</div>
			
	</main>

</body>
</html>
