<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="data">
        <p align="center">Фильтр</p>
        <ng-container [formGroup]="_filterForm">

          <div align="center" class="form">
            <mat-form-field class="form1">
              <input matInput [matDatepicker]="picker"
                     formControlName="start">
              <mat-label>Дата начала </mat-label>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <app-control-errors name="start">
              </app-control-errors>
            </mat-form-field>

            <mat-form-field class="form1">
              <input matInput [matDatepicker]="picker1"
                     formControlName="end">
              <mat-label>Дата конца </mat-label>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <app-control-errors name="end">
              </app-control-errors>
            </mat-form-field>
          </div>

        </ng-container>

        <div align="center" class="buttons">
          <button mat-raised-button
                  (click)="changeFilter()"
                  [disabled]="_filterForm.invalid">
            Обновить
          </button>
        </div>

      </div>

    </div>

  </div>
</div>





<ng-container *ngIf="isLoaded == true">
  <financical-information [financicalInformation]="financicalInformation"></financical-information>
</ng-container>

<ng-container *ngIf="isLoaded != true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div align="center">
          <span> Идёт загрузка данных.Пожалуйста подождите... </span>
          <br />
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
</ng-container>



