:host {
  .message {
    margin: 10px;
  }

  .data {
    width: 100%;
    margin: auto;
  }

  mat-form-field {
    margin: 10px;
  }

  .buttons {
    margin-bottom: 30px;
  }

  .form {
    width: 100%;
  }

  .form1 {
    width: 45%;
  }
}
